[user]
	name = Michal Šoltis
	email = msoltis@redhat.com 

[core]
	editor = nvim
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[log]
	date = local

[diff]
	colorMoved = dimmed-zebra

[pull]
	rebase = true

[commit]
	gpgsign = true

[credential]
	helper = store

[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpUser = soltis.miso@gmail.com
	smtpencryption = tls

[alias]
	; common
	aa = add --all .
	br = branch
	co = checkout
	cm = commit --signoff --message
	cma = commit --amend
	cman = commit --amend --no-edit
	cms = commit --signoff
	cp = cherry-pick
	lol = log --oneline --graph
	pum = pull upstream main
	put = push upstream --tags
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive HEAD~10
	rh = reset --hard
	rl = reflog --date local
	sc = stash clear
	sl = stash list
	sp = stash pop
	st = status
	sw = switch
	wa = worktree add
	wl = worktree list
	wr = worktree remove

	; verbose
	download = fetch --all --prune
	hide = stash --include-untracked
	review = diff main..HEAD
	unstage = restore --staged .

	; dangerous
	clear = !git reset --hard && git clean -ffd
	current = !git checkout --theirs . && git add .
	incoming = !git checkout --ours . && git add .
	lines = !git ls-files | xargs wc -l | sort -n
	paste = !git stash pop && git add . && git commit --amend --no-edit && git rebase --continue
	rewrite = !git add . && git commit --amend --no-edit && git push --force
	uncommit = !git reset --soft HEAD~1 && git restore --staged .
	update = !git switch main && git pull upstream main && git push && git switch - && git rebase main
